[Unit]
Description=hostapd-torbox
Wants=network.target
Before=network.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=$project/bin/hostapd-tbng -B $project/config/hostapd-tbng.conf
ExecStop=ip addr flush dev $interface
ExecStop=ip link set dev wlan1 $interface

[Install]
WantedBy=multi-user.target
