[Unit]
Description=Hostapd for TBNG
Wants=network.target
After=network.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=$project/bin/hostapd-tbng -B $project/config/hostapd-tbng.conf
ExecStop=/usr/bin/env ip addr flush dev $interface
ExecStop=/usr/bin/env ip link set dev $interface down

[Install]
WantedBy=multi-user.target
