[Unit]
Description=I2P for TBNG
[Service]
ExecStart=$project/i2p/router start
ExecStop=$project/i2p/router stop
User=$user
Type=forking
[Install]
WantedBy=multi-user.target
