[Unit]
Description=I2P for TBNG
[Service]
ExecStart=$project/i2p/runplain.sh
User=$user
Type=forking
PIDFile=/tmp/router.pid
[Install]
WantedBy=multi-user.target
