[Unit]
Description=WebUI for TBNG
After=tbng.service

[Service]
ExecStart=/usr/bin/env node $project/bin/www
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=webui-tbng
User=$user
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
