[Unit]
Description=WebUI for TorBoxNG
After=tbng

[Service]
ExecStart=/usr/bin/env nodejs $project/bin/www
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=webui-tbng
User=$user
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
