[Unit]
Description=TBNG Helper
After=network.target

[Service]
Type=oneshot
ExecStart=/home/zno/tbng/engine/tbng.py mode restore 

[Install]
WantedBy=multi-user.target
