[Unit]
Description=I2P for TBNG
[Service]
ExecStart=/home/arm/tbng/i2p/runplain.sh
User=arm
Type=forking
PIDFile=/tmp/router.pid
[Install]
WantedBy=multi-user.target
