extends layout

block content
  h1= title
  if message
    h2= message
  form(name="access", action="/system/access", method="post")
    fieldset
      label(for="current_password")
        span  Current password
        input(type="password", name="current_password", required="required")
        
      label(for="new_password") 
        span  New password
        input(type="password", name="new_password", required="required")
        
      label(for="confirm_password")
        span  Confirm password
        input(type="password", name="confirm_password", required="required")
        
    fieldset                                           
      input(type="submit", value="Apply")
  br
  a(href="/") Main page                                           
