extends layout

block content
  h1= title
  p Choose your setting
  ul#options
    li
      a(href="/mode") Mode selection
    li
      a(href="/i2p") I2P settings
    li 
      a(href="/system") System settings
    li 
      a(href="/wifi") WiFi connection

