extends layout

block content
  h1= title 
  p Configure internet access
  ul#options
    li
      a(href="/wan/interface") Select interface
    li
      a(href="/wan/wifi") WiFi settings
    li
      a(href="/wan/spoof") Spoof WAN MAC
   
  br
  a(href="/") Main page                                           

   
