extends layout

block content
  h1= title
  if message
   h2= message
  form(name="wiredspoof", action="/wan/wired/macspoof", method="post")
    input(type="submit", value="MAC Spoof")
  br
  a(href="/wan/wired") Back                                           
