extends layout

block content
  h1= title 
  p Configure wired network
  ul#options
    li
      a(href="/wan/wired/macspoof") Spoof wired MAC address

  br
  a(href="/wan") Back                                           

   
