{ 
  "cputemp": "default",
  "wan_interface": [
   {
     "name": "wlan1",
      "wireless": true,
      "macspoof": {
        "method": "ifconfig"
       }    
   },
   {
     "name": "eth0",
     "macspoof": {
        "method": "ifconfig"
       }
   }
    ],
  "lan_interface": [
    {
      "name": "wlan0",
      "wireless": true
    }
  ],

  "allowed_ports_tcp" : [22,3000,7657,9050,8118,4200],
  "lock_firewall": false
}
