table {
		border:1px solid #C0C0C0;
                border-collapse:collapse;
		padding:5px;
	}
table th {
		border:1px solid #C0C0C0;
		padding:5px;
		background:#F0F0F0;
	}
table td {
		border:1px solid #C0C0C0;
		padding:5px;
	}
